.prList {
    background: #ff00ff;
}

.prList:hover {
    background: #cf03cf;
}

.prNew {
    background: #ffc800;
}

.prNew:hover {
    background: #e7b605;
}
.prGray {
    background: #d1d1d1;
}

.prGray:hover {
    background: #757575;
}
.prReport {
    background: #ff4600;
}

.prReport:hover {
    background: #d33a02;
}

.prProds {
    background: #00a1ff;
}

.prProds:hover {
    background: #0184cf;
}

.prPtype {
    background: #ff0076;
}

.prPtype:hover {
    background: #cf0061;
}

.prBekle {
    background: #644581;
}

.prBekle:hover {
    background: #352544;
}

.prNotes {
    background: #648b47;
}

.prNotes:hover {
    background: #4f6d38;
}

.color0099FF{
    color: #0099FF;
    background: #0099ff4d;
}
.color46DB07{
    color: #46DB07;
    background: #46DB074d;
}
.colorCC5E2F{
    color: #CC5E2F;
    background: #CC5E2F4d;
}
.colorFF0000{
    color: #FF0000;
    background: #FF00004d;
}

.prSt {
    padding: 9px;
    max-width: 200px;
    min-width: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 13pt;
    color: #ffffff;
    transition: all .4s ease;
    margin: 5px;
    cursor: pointer;
}

.form-group input[type=text], .form-group input[type=search],input[type=date], input[type=search], .form-group input[type=number], .form-group input[type=password], .form-group input[type=file], .form-group select {
    width: 100%!important;
    min-height: 23px;
    font-family: 'Roboto';
    padding: 1px 25px 1px 5px;
    font-size: 12px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}