.prNew {
    background: #ffc800;
}

.prNew:hover {
    background: #e7b605;
}

.prReport {
    background: #ff4600;
}

.prReport:hover {
    background: #d33a02;
}

.prProds {
    background: #00a1ff;
}

.prProds:hover {
    background: #0184cf;
}

.prPtype {
    background: #ff0076;
}

.prPtype:hover {
    background: #cf0061;
}

.prSt {
    padding: 9px;
    max-width: 200px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 20pt;
    color: #ffffff;
    transition: all .4s ease;
    margin: 5px;
}